name: Build
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: Setup Java 19
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '19'
    - name: Get Wrath
      uses: actions/checkout@v3
      with:
        repository: 'propensive/wrath'
        path: 'wrath'
        ref: '0.5.1'
    - name: Build
      run: "wrath/wrath -F"
